<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcp" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    
    <client>
      <endpoint address="net.tcp://localhost:10240/ServiceDemo" binding="netTcpBinding" bindingConfiguration="netTcp" contract="ProtobufStuff.WCFDemo.IServiceDemo" name="ServiceDemoEndpoint" behaviorConfiguration="ProtobufEndpointBehavior" />
    </client>
    
    <services>
      <service name="ProtobufStuff.WCFDemo.ServiceDemo">
        <endpoint address="net.tcp://localhost:10240/ServiceDemo" binding="netTcpBinding" bindingConfiguration="netTcp" contract="ProtobufStuff.WCFDemo.IServiceDemo" behaviorConfiguration="ProtobufEndpointBehavior" />
      </service>
    </services>
    
    <extensions>
      <behaviorExtensions>
        <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=2.3.2.0, Culture=neutral, PublicKeyToken=257b51d87d2e4d67"/>
      </behaviorExtensions>
    </extensions>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="ProtobufEndpointBehavior">
          <protobuf/>
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Temp\WCFDemo.svclog" />
    </sharedListeners>
  </system.diagnostics>
  -->

  
</configuration>